html {font-size: 10px;}

.body-productos {
    
    background-image: url(../images/robot.jpg) ;
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;


font-family:sans-serif;

/*Margin sirve para sacar los margenes al encabezado*/
margin: 0rem;
padding-top: 10rem;
min-height: 100vh;
}



/*Header*/

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

}


nav a { 
    font-weight: 60rem;
    padding-right: 1rem;
}

/*Nav a hover sirve para cambiar el color de los enlaces
cuando pasamos por arriba con el cursor*/

nav a:hover {
    color: white;
}


/*El Display Flex sirve para que me muestre la 
informacion de forma horizontal y no vertical
(todo lo que esta adentro de header)*/

.header-1{
position: fixed; top: 0; right: 0; left: 0;
z-index: 1 ;
display: flex;
justify-content: space-between;
min-height: 4rem;
background-color: red;
align-items: center;
padding: 1rem;
}


/*Esto se puede hacer usando elemento "div"*/

.logo {display: flex;
align-items: center;}

/*Para hacer que la imagen sea redonda tengo que
utilizar el border radius y poner los mismos px
de alto que de ancho*/

.logo img {height: 8rem;
border-radius: 50%;
width: 8rem;
margin-right: 1.5rem;
}

/*El arroba @media sirve para hacer que se adapte
a diferentes tipos de pantalla*/

@media (max-width:700px) {
    header{flex-direction:column ;}}


nav{padding: 10px 0px;}




/* Page-Productos*/

.body-productos {
    padding-top: 13rem;
    font-family:sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color: grey;
    text-align: center;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    border: solid 2px black
}

.grid-item:hover{ 
    filter: opacity(1);
    transform: scale(1.15);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px ;
    gap: 100px;
    padding: 20px;
}


img {
width: 100%;
height: 100%;
}











